/* START BUTTON */
.Btn {
    padding: 10px 0;
    border: none;
    cursor: pointer;
    color: var(--secondary-color-50);
    background: var(--primary-color-100);
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-s);
}

.Btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
/* END BUTTON */
